gtts
pygame
pyaudio
qdrant_client
unstructured
faster-whisper
sentence-transformers
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-llms-ollama
llama-index-llms-groq
PyMuPDF
ollama
groq
python-dotenv
ragas
openai
datasets
Flask
scipy
flask-cors
sounddevice
numpy